*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
    color: black;
}

.content{
    width: 100%;
    height: 100vh;
    display: inline-block;
}

.head{
    width: 100%;
    height: 70px;
    background: #1E3A8A;
    display: flex;
    position: fixed;
}

.logo{
    width: 30%;
    display: flex;
    margin: 20px;

}

h2{
    font-size: 1.8em;
    color: #FFFFFF;
    font-weight: bold;
}

ul{
    width: 60%;
    display: flex;
    margin: 20px;
    align-items: center;
    text-align: center;
}

ul li {
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
}

.icon{
    width: 10%;
    display: flex;
    margin: 20px;
}

.icon li{
    list-style: none;
    margin-left: 20px;
    color: #fff;
}
