*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
    color: black;
}

.content{
    width: 100%;
    height: 100vh;
    display: inline-block;
}

.head{
    width: 100%;
    height: 70px;
    background: #1E3A8A;
    display: flex;
    position: fixed;
}

.logo{
    width: 30%;
    display: flex;
    margin: 20px;

}

h2{
    font-size: 1.8em;
    color: #FFFFFF;
    font-weight: bold;
}

ul{
    width: 60%;
    display: flex;
    margin: 20px;
    align-items: center;
    text-align: center;
}

ul li {
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
}

.icon{
    width: 10%;
    display: flex;
    margin: 20px;
}

.icon li{
    list-style: none;
    margin-left: 20px;
    color: #fff;
}

.Task{
    width: 100%;
    height: 100vh;
    display: inline-block;
    margin-top: 70px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

table{
    width: 10   0%;
    height: auto;
    margin: 20px;
}

.button{
    width: 50%;
    height: 40px;
    background: #1E3A8A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.div{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    background: #1E3A8A;
}


.Task table {
    border-collapse: collapse;
}
 
.Task table tr:not(thead tr) {
    background-color: #1E3A8A;
    color: white;
    margin-top: 20px;
    font-size: 1.8em;
}